@font-face { font-family: CustomFont; src: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; } 

body {
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
    background: #f5d467;
    /*
    background: url("../img/background.png") no-repeat;
    background-size: cover;
    */
}

.upgrade {
    width:48px;
    height:48px;
    cursor: pointer;
    background-image: url(../img/bee-clicker-upgrades.png);
}

.upgradeFake{
    width:48px;
    height:48px;
    background-image: url(../img/bee-clicker-upgrades.png);
}

.myTips{
    background: #ffd58a;
    border:0px;
    font-family: CustomFont, sans-serif;
    border-radius: 5px;
    font-size:1.3em;
    line-height: normal;
}

#upgradesTable{
    font-family: CustomFont, sans-serif;
    font-size: 1.6em;
    text-shadow:
    -1px -1px 0 #444,  
     1px -1px 0 #444,
     -1px 1px 0 #444,
      1px 1px 0 #444;
    color: #ffffff;
}

#upgradesHeader{
    text-align:center;
    font-size: 2em;
    font-family: CustomFont, sans-serif;
    text-shadow:
    -1px -1px 0 #444,  
     1px -1px 0 #444,
     -1px 1px 0 #444,
      1px 1px 0 #444;
    color: #ffffff;
}

#sun {
    height:256px;
    width:146px;
    bottom:0px;
    right:0px;
    position: absolute;
    background: url("../img/sun.png") no-repeat;
}

#tree {
    height:512px;
    width:342px;
    bottom:0px;
    position: absolute;
    background: url("../img/tree.png") no-repeat;
}

#BerryBeeBenson {
    width: 256px;
    height: 256px;
    margin-top: 30%;
}

#honeyDisplay {
    font-size: 4em;
    font-family: CustomFont, sans-serif;
    color: #ffffff;
    
    text-shadow:
    -1px -1px 0 #444,  
     1px -1px 0 #444,
     -1px 1px 0 #444,
      1px 1px 0 #444;
      
    text-align: center;
    padding: 5px;
}

#facts{
    width: 90%;
    height: 30%;
    color: #ffffff;
    font-size:1.1em;
    background: #7e6d38;
    font-family: CustomFont, sans-serif;
    padding:20px;
    border-radius: 3px;
}

#icons {
    margin-top:10px;
    width:512px;
    height:512px;
    position: absolute;
    background: url("../img/bee-clicker-backgrounds.png") no-repeat;
    border: 2px black;
}

#leftSide {
    left:0px;
    width:30%;
    position: absolute;
}

#middleSide {
    right:30%;
    width:40%;
    position: absolute;
}

#rightSide {
    right:10px;
    width:20%;
    height:90%;
    position: absolute;
    background: #7e6d38;
    border-radius: 3px;
    padding:20px;
}

#bottomSide {
    left:30%;
    bottom:10px;
    position: absolute;
    font-family: CustomFont, sans-serif;
    color: #ffffff;
    font-size:1.4em;
}

#BerryBeeBenson{
    width:60%;
    height:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.currency {
    font-weight: bold;
    padding-left: 30px;
    position: relative;
}

.currency::before {
    content: '';
    display: block;
    position: absolute;
    left:10px;
    top: 12px;
    background: url(../img/currency.png) no-repeat;
    width: 16px;
    height: 25px;
}
